Django==1.6.10
South==1.0.2
django-guardian==1.2.5
django-haystack==2.3.1
Whoosh==2.6.0
jsonfield==1.0.0
modeltree==1.1.9
openpyxl==2.1.4
python-memcached==1.53
ordereddict
sqlparse
mysql-python
psycopg2
