Django==1.11.23
django-guardian==1.2.5
django-haystack==2.3.1
Whoosh==2.6.0
jsonfield==1.0.0
modeltree==2.0.0
openpyxl==2.1.4
python-memcached==1.53
ordereddict
sqlparse
mysql-python
psycopg2
django_rq
