@mixin container-title-gradient {
    background: #444;
    background: -moz-linear-gradient(-90deg, #555, #666 50%, #333 55%, #444);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555),
        color-stop(50%, #666),
        color-stop(55%, #333),
        to(#444));
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#555555", endColorstr="#333333");      
}

.container {
    @include box-shadow(0, 4px, 4px, #999);	
    @include border-radius($BORDER_RADIUS, $BORDER_RADIUS, 0, 0);
    
	margin-bottom: 20px;

    // container title bar
    > .title {
        @include container-title-gradient;
        @include border-radius($BORDER_RADIUS, $BORDER_RADIUS, 0, 0);

        color: #eee;
        padding: 5px 10px;
    	text-shadow: $DARK_TEXT_SHADOW;
    	font-weight: 500;

        // container title bar buttons
        button {
            @include container-title-gradient;            
            @include border-radius(3px, 3px, 3px, 3px);
            @include box-shadow(0, 0, 1px, #fff);
            
            color: #ddd;
            float: right;
            text-shadow: none;
            border-color: #000;
            font-size: 0.8em;
            padding: 2px 3px;
            
            &:hover {
                @include box-shadow(0, 0, 2px, #fff);
                color: #fff;
            }
            
            &:active {
                background-color: #444;
                background-image: -moz-linear-gradient(-90deg, #444, #333 50%, #666 55%, #555);
                background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444),
                    color-stop(50%, #333),
                    color-stop(55%, #666),
                    to(#555));                   
            }
        }
    }
    
    > .toolbar {
        background-color: #D8E2F7; 
        padding: 3px 10px;
        text-shadow: $LIGHT_TEXT_SHADOW;
        
        &.footer {
            @include inset-box-shadow(0, 2px, 3px, #777);
            padding-top: 6px;
        }
    }

    // container content area, keep it simple...
    > .content {
        background-color: #fff;
        padding: 10px;
    }
}