// jQuery UI components
.ui-dialog {
    @extend .container;
    @include box-shadow(0, 10px, 20px, #999);
    
    position: absolute;

    .ui-dialog-content {
        padding: 10px;
    }
    
    .ui-dialog-buttonpane {
        padding: 10px;
        text-align: right;

        button {
            @extend button;
            margin-left: 10px;
        }    
    }    

    .ui-dialog-titlebar {
        @include container-title;    
 
        .ui-dialog-titlebar-close {
            display: none;
        }
    }
}