/*.icon {
    vertical-align: middle;
    // IE 7 HACK
    *display: inline;
    zoom: 1;
    padding: 0 0 0 13px;
}

.icon-remove-all {
    @extend .icon;
    
    height: 11px;
    width: 11px;
    background: transparent url(../img/icons/x_11x11.png) no-repeat;
}*/

