.ie7, .ie8 {
    .container {
        border: 1px solid #ccc;
        > .title {
            font-weight: 600;
            button {
                padding: 1px 2px;
            }
        }
    }
}

.ie7 {
    input[type=button], input[type=submit], button {
        padding: 1px !important;
    }
    
    .container > .title button {
        margin-top: -2px;
    }
}