/*
 * BOX SHADOW MIXINS
 */
@mixin box-shadow($h, $v, $b, $c) {
	-moz-box-shadow: $h $v $b $c;
	-webkit-box-shadow: $h $v $b $c;
	box-shadow: $h $v $b $c;    
}

@mixin inset-box-shadow($h, $v, $b, $c) {
	-moz-box-shadow: inset $h $v $b $c;
	-webkit-box-shadow: inset $h $v $b $c;
	box-shadow: inset $h $v $b $c;    
}

@mixin no-box-shadow {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

@mixin border-radius($tl, $tr, $bl, $br) {
    -moz-border-radius: $tl $tr $bl $br;
    border-radius: $tl $tr $bl $br;
}

@mixin anchors($c1, $c2) {
    a {
        &:link, &:visited {
            color: $c1;
        }        
        &:hover, &:active {
            color: $c2;
        }
    }
}

@mixin linear-gradient($c1, $c2) {
    background: $c1;
    background: -moz-linear-gradient(-90deg, $c1, $c2);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($c1), to($c2));
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#{$c1}', endColorstr='#{$c2}');        
}

@mixin message($color, $background, $border, $image, $rad: 0px) {
    @include border-radius($rad, $rad, $rad, $rad);
    
    color: $color;
	background-color: $background;
	border: 1px solid $border;  
	text-shadow: #fff 1px 1px 0;
	padding: 3px 5px 3px 31px;
	background-image: url(../img/icons/#{$image}.png);
    background-repeat: no-repeat;
    background-position: 5px;
}

@mixin vertical-thin-scrollbar {
    &::-webkit-scrollbar {
        width: 1ex;
    }

    &::-webkit-scrollbar-thumb:vertical {
        background: rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 1ex;
    }    
}

@mixin horizontal-thin-scrollbar {
    &::-webkit-scrollbar {
        height: 1ex;
    }

    &::-webkit-scrollbar-thumb:horizontal {
        background: rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 1ex;
    }    
}

@mixin search-box {
    @include border-radius(15px, 15px, 15px, 15px);
    @include inset-box-shadow(2px, 2px, 3px, #ddd);
    
    background: #fff url(../img/icons/search.png) no-repeat 3px;
    padding: 2px 5px 2px 21px;
    border: 1px solid #999;
}