/*
** Base classes and styling for a sortable table elements
*/
.sortable {
    width: auto;
    border-collapse: separate;
	font-size: 13px;
	font-family: "Gill Sans", "Trebuchet MS", sans-serif;
	margin: 15px 0;
	border-spacing: 1px 1px;
	background-color: #fff;
	
	thead, tfoot {
        td, th {
        	background-color: #FFF9A4;
            border: 1px solid #fff;
        	font-size: 13px;
        	padding: 3px 7px;
        }
        
        .header {
            background-repeat: no-repeat;
            background-position: right center;
            text-align: left;
        	cursor: pointer;
            text-shadow: #fff 1px 1px 0;
            
            span {
                padding-right: 16px;                
            }
        }
        
        .desc, .asc {
            background-color: #FFEA5F;            
        }
        
        .asc {
            background-image: url(../img/asc.gif);            
        }
        
        .desc {
            background-image: url(../img/desc.gif);            
        }
	}

    tr.selected {
        background-color: #FFFBD8;
    }
    
    td, th {
        padding: 3px 5px;
        text-align: center;
        font-weight: normal;
        background-color: #fff;
        min-width: 100px;

        // elements rendered within each data cell, strip padding
        > * {
            padding: 0;
        }
    }
}