@import "partials/constants";
@import "partials/mixins";
@import "partials/reset";
@import "partials/typography";
@import "partials/container";
@import "partials/extras";
// leave for last to override everything else
@import "partials/iecompat";



body {
    background: #EEEDEA url(../img/tile.png);
}

header {
    @include anchors(#666, #333);
    
    background-color: #fff;
    margin-top: 10px;
    padding: 2px 10px;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    font-size: 0.8em;
    color: #666;
    text-shadow: $LIGHT_TEXT_SHADOW;
    
    > * {
        vertical-align: middle;        
    }
    
    > span {
        float: right;
        margin-top: 6px;      
    }
}

nav {
    @include anchors(#666, #333);
    
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
    
    ul {
        color: #666;
        margin: 0;
        padding: 10px;
        list-style: none;
        font-size: 12px;
        text-shadow: $LIGHT_TEXT_SHADOW;
        
        li {
            display: inline;
            margin-right: 12px;            
        }
    }
}

footer {
    @include anchors(#999, #666);
    
    display: block;
    color: #999;
    position: relative;
    top: 70px;
    left: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 11px;
    text-shadow: $LIGHT_TEXT_SHADOW;
}


input[type=button], input[type=submit], button {
    @include linear-gradient(#eee, #ccc);
    @include border-radius(2px, 2px, 2px, 2px);
    
    font-size: 0.9em;
    color: #000;
    cursor: pointer;
    padding: 2px 5px;    
    border: 1px solid #aaa;
    text-shadow: $LIGHT_TEXT_SHADOW;
    
    &:hover {
        border-color: #666;        
    }
    
    &:active {
        @include linear-gradient(#555, #999);
    
        border-color: #666;
        color: #fff;
        text-shadow: $DARK_TEXT_SHADOW;        
    }
    
    &:disabled {    
        color: #999;
        cursor: auto;        
    }
}

.success { @include message(#002E24, #E3FFD8, #CDF0D5, success); }
.warning { @include message(#653400, #F8F7A9, #ECE678, warning); }
.error { @include message(#500700, #FFD3D9, #EEB9C6, error); }

#content {
    position: relative;
    top: 50px;
    left: 50%;
    margin-left: -480px;
    width: 960px;
}