@import "partials/constants";
@import "partials/mixins";
@import "partials/overlay";
@import "partials/icons";

/*
 * Panes - layout
 */

#left-pane {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 730px;
    z-index: 100;
    background-color: #eee;
}

#left-pane > .content {
    border: 1px solid #ccc;    
    margin: 10px;
    padding: 0;
}

#center-pane {
    min-height: 400px;
    max-height: 650px;
    padding: 10px 10px 8px 10px;
/*    background: transparent url(../img/sb/1_click.png) no-repeat 200px 50px;*/
}

#right-pane {
    display: inline-block;
    position: relative;
    vertical-align: top;
    top: 0;
    left: 20px;
    width: 200px;
    z-index: 100;
}

/*
 * Navigation tabs
 */

#tabs {
    font-size: 13px;
    font-weight: 500;
    text-shadow: $LIGHT_TEXT_SHADOW;
    
    input {
        @include search-box;
        width: 105px;    
    }
    
    > * {
        @include inset-box-shadow(0, -5px, 10px, #ddd);
     
        color: #999;
        height: 16px;
        padding: 13px 15px;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
        border-left: 1px dotted #aaa;
        display: inline-block;
        cursor: pointer;
        background-color: #eee;
    }
    
    > .active {
        @include no-box-shadow;
        // TODO move to AudGenDB CSS
        color: #005DAA;
        background-color: #fff;
        border-bottom-color: #fff;
        text-shadow: none;
        cursor: default;
    }

    > :first-child {
        border-left: none;            
    };
    
    :hover {
        color: #333;
        cursor: pointer;        
    }
}

/*
 * List of criteria
 */
#criteria {
    @include vertical-thin-scrollbar;
    
    font-size: 0.9em;
    width: 170px;
    display: inline-block;
    padding-right: 5px;
    max-height: 550px;
    overflow: auto;
    text-shadow: $LIGHT_TEXT_SHADOW;
    
    // contents gets extracted and put into #description
    .description {
        display: none;
    }

    // Information "i"
    .info {
        color: #999;
        font-weight: bold;
        font-family: 'courier new', monospace;
        font-size: 14px;
        float: right;
        padding: 0 5px;
        margin-right: -5px; /* compensate for padding */        
        
        &:hover {
            color: #fff;
        };
    }
}

#criteria > div {
    @include inset-box-shadow(0, 0, 8px, #ccc);
    @include border-radius(3px, 3px, 3px, 3px);

    margin-top: 1px;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
}

#criteria > div:first-child {
    margin-top: 0;
}

#criteria > div:hover {
    @include inset-box-shadow(0, 0, 10px, #0C264E);

    color: #fff;
    background-color: #1A4C97;
    text-shadow: $DARK_TEXT_SHADOW;
    border-color: transparent;
}

#criteria > div.active {
    @include no-box-shadow;
    
    color: #fff;
    background-color: #1A4C97;
    text-shadow: $DARK_TEXT_SHADOW;
    border-color: transparent;
}

/* Other standalone elements */
#description {
    @include box-shadow(0, 5px, 10px, #999);
    @include border-radius(5px, 5px, 5px, 5px);
    
    padding: 10px;
    z-index: 1000;
    position: absolute;
    display: none;
    background-color: #fff;
    border: 3px solid #aaa;
    width: 300px;
    white-space: pre-line;
}

#no-conditions {
    @include border-radius(3px, 3px, 3px, 3px);
}

#plugin-panel {
    @include no-box-shadow;
    
    display: none;
    float: right;
    width: 506px;
    min-height: 300px;
}

#plugin-panel .content {
    padding: 0;
}

#plugin-static-content {
    margin-top: 10px;
}


.chart {
    width: 506px;
}

/* Form elements below charts */
.view {
    font-size: 0.85em;
}

.view h2 {
    text-align: center;
    font-size: 1.5em;
    color: #22465B;
    margin-bottom: 10px;
}

.view p {
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px dotted #999;
    vertical-align: middle;
}

.view p > span {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;    
}

.view p > span:first-child {
    width: 100px;
    margin-left: 0;
}

/*
 * User-defined criteria
 */

.criterion {
    @include border-radius(3px, 3px, 3px, 3px);

    border: 2px solid #ddd;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 4px 5px;
}

.criterion:hover, .criterion.selected {
    @include box-shadow(0, 2px, 3px, #aaa);
        
    border-color: #ECD41F;
    background-color: #FFFBB3;    
}

.criterion a {
    color: #603200;
    text-decoration: none;    
}

.criterion .remove-criterion {
    background: transparent url(../img/x.png) no-repeat;
    height: 32px;
    width: 32px;
    float: right;
    margin-right: -20px;
    margin-top: -18px;
}


// IE fixes

.ie7, .ie8 {
    #plugin-panel {
        border: none;
    }    
}

.ie7 {
    #left-pane, #right-pane, #tabs > * {
        zoom: 1;
        *display: inline;  
    }    

    #tabs form {
        padding-right: 5px;
        padding-left: 5px;
    }
}