@import "partials/constants";
@import "partials/mixins";
@import "partials/overlay";
@import "partials/sortable";

.ht {
    font-size: 0.8em;
}

.lg {
    color: #999;
}

.fr {
    float: right;
}

#search {
    @include search-box;
    width: 350px;
}

.container {
    .info {
        display: none;
        
        > * {
            vertical-align: top;
            margin-right: 20px;
            display: inline-block;
            *display: inline;
            zoom: 1;
        }
        
        h4 {
            margin: 0 0 5px 0;
        }

        b {
            background-color: #FFD2D6;
            padding: 2px 4px;
            text-shadow: $LIGHT_TEXT_SHADOW;
        }
        
        ul {
            margin: 5px 0;
        }
    }
    
    .toolbar {
        display: none;
        
        > * {
            vertical-align: middle;
        }
    }

    .content {
        @include horizontal-thin-scrollbar;
        
        overflow: auto;
    }
}

.page-links > * {
    margin-right: 10px;
}

.page-links .pages {
    display: inline-block;
}

.page-links .inactive {
    color: #999;
}

.per-page {
    font-size: 0.8em;
}

#report-actions {
    float: right;
    text-align: right;
    
    button {
        font-size: 1em;
        margin-top: 5px;

        &:first-child {
            margin-top: 0;
        }
    }
}

#columns-dialog {
    display: none; /* for jquery ui dialog */
    height: 600px;
    
    > div {
        float: right;
        padding: 10px 10px 0 10px;
        vertical-align: top;
        width: 400px;
        height: 580px;
        
        &:first-child {
            float: left;
        };
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        display: none;
        margin: 3px 0;
        padding: 5px 8px;

        &.active {
            display: block;

            &.filtered {
                display: none;
            }            
        }        
    }    
}

#columns, #active-columns {
    @include vertical-thin-scrollbar;

    padding-right: 10px;
    margin-top: 10px;
    text-shadow: $LIGHT_TEXT_SHADOW;
    overflow: auto;
    height: 486px;
}

#columns {
    height: 469px;

    .description {
        display: none;
    }    
}

#columns li {
    background-color: #eee;
    border: 1px solid #ddd;
}

#active-columns li {
    background-color: #fcdb6a;
    border: 1px solid #fcba21;
}

#active-columns li.placeholder {
    display: block;
    background-color: #fff;
    border: 1px dashed #ccc;
    -moz-border-radius: 0;
    border-radius: 0;
}

#columns li p, #active-columns li p {
    margin: 5px 0 0 0;
}

#columns li > * {
    vertical-align: middle;
}

.actions {
    float: right;
    margin-top: 2px;
    font-size: 11px;
    color: #999;
    text-align: right;

    > * {
        display: block;
        margin-top: 3px;
        text-align: center;
        
        &:first-child {
            margin-top: 0;
        }
    }
    
    :hover {
        color: #333;
    }    
    
    .info {
        cursor: default;
    }    

    a {
        color: #999;
        text-decoration: none;
    }
}



#active-columns .actions, #active-columns .actions a {
    color: #B17431;
}

#active-columns .actions :hover {
    color: #333;
}

#description {
    @include box-shadow(0, 5px, 10px, #999);
    @include border-radius(5px, 5px, 5px, 5px);
    
    padding: 10px;
    z-index: 1000;
    position: absolute;
    display: none;
    background-color: #fff;
    border: 3px solid #aaa;
    width: 300px;
    white-space: pre-line;
}