/*
 * Panes - layout
 */

#left-pane {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 730px;
    z-index: 100;
    background-color: #eee;
}

#left-pane > .content {
    border: 1px solid #ccc;    
    margin: 10px;
    padding: 0;
    background-color: #fff;
}

#center-pane {
    min-height: 400px;
    max-height: 650px;
    padding: 10px 10px 8px 10px;
    background: transparent url(../img/sb/1_click.png) no-repeat 200px 50px;
}

#right-pane {
    display: inline-block;
    position: relative;
    vertical-align: top;
    top: 0;
    left: 20px;
    width: 200px;
    z-index: 100;
}

/*
 * Panels - components within the panes
 */

#search-panel {
    font-size: 13px;
    text-shadow: #fff 1px 1px 0;
}

#search-panel input {
    width: 105px;
    -moz-width: 101px;
}

#categories {
    display: inline-block;
}

#categories > *, #search-panel form {
    vertical-align: top;    
    color: #999;
    height: 16px;
    padding: 13px 15px;
    border-bottom: 1px solid #ccc;
    border-left: 1px dotted #aaa;
    display: inline-block;
    background-color: #fff;
    cursor: pointer;
    
    box-shadow: inset #eee 0 -5px 10px;
    -webkit-box-shadow: inset #eee 0 -5px 10px;
    -moz-box-shadow: inset #eee 0 -5px 10px;
}

#search-panel form {
    color: #333;
    border-left: none;    
}

#categories > :hover {
    color: #333;
    cursor: pointer;
}

#categories > .active, #search-panel form.active {
    color: #005DAA;
    border-bottom-color: #fff;
    text-shadow: none;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#criteria {
    font-size: 12px;
    display: inline-block;
    width: 170px;
    margin-right: 10px;
    padding-right: 5px;
    max-height: 550px;
    overflow: auto;
    text-shadow: #fff 1px 1px 0;
}

#criteria::-webkit-scrollbar {
    width: 1ex;
}

#criteria::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 1ex;
}

#criteria > div {
    display: none;
    padding: 10px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top: 1px dotted #999;
    cursor: pointer;
    background-color: #eee;
    box-shadow: inset 0 0 8px #ddd;
    -webkit-box-shadow: inset 0 0 8px #ddd;
    -moz-box-shadow: inset 0 0 8px #ddd;
}

#criteria > div.inview {
    display: block;
}

#criteria > div.inview:first-child {
    margin-top: 0;
    border-top: 1px solid #ccc;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;   
}

#criteria > div.inview:last-child {
    border-bottom: 1px solid #ccc;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
}

#criteria > div:hover {
    color: #fff;
    background-color: #1A4C97;
    text-shadow: #000 -1px 1px 0;
    border-color: transparent;
    box-shadow: inset 0 0 10px #0C264E;
    -webkit-box-shadow: inset 0 0 10px #0C264E;
    -moz-box-shadow: inset 0 0 10px #0C264E;
}

#criteria > div.active {
    color: #fff;
    background-color: #1A4C97;
    text-shadow: #000 -1px 1px 0;
    border-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#plugin-panel {
    display: none;
    float: right;
    width: 498px;
    min-height: 300px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#plugin-panel .content {
    padding: 0;
}

#plugin-static-content {
    margin-top: 10px;
}

.view h2 {
    text-align: center;
    font-size: 17px;
    color: #22465B;
    margin-bottom: 10px;
}

.view input, .view select {
    font-size: 11px;
}

.view p {
    font-size: 11px;
    padding: 5px;
    border-bottom: 1px dotted #999;
    vertical-align: middle;
}

.view p > span {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;    
}

.view p > span:first-child {
    width: 100px;
    margin-left: 0;
}

.chart {
    width: 498px;
}

/*
 * User-defined criteria
 */

.criterion {
    font-size: 12px;
    margin-bottom: 10px;
    background-color: #FFFEE0;
    border: 1px solid #ECE670;
    padding: 4px 5px;
    text-shadow: #fff 1px 1px 0;
    -moz-box-shadow: inset 0 0 10px #FFFE95;
    -webkit-box-shadow: inset 0 0 10px #FFFE95;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;    
    
}

.criterion:hover {
    background-color: #FFFBB3;    
}

.criterion a {
    color: #603200;
    text-decoration: none;    
}

.criterion .remove-criterion {
    font-weight: bold;
    float: right;
}

.criterion .remove-criterion:hover {
    color: #E60D00;
}

/*
 *  Validation
 */
 
input.invalid {
     border: 2px solid #F00;
}
