/*
 * Panes - layout
 */

#left-pane {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 730px;
    z-index: 100;
}

#center-pane {
    display: block;
    position: relative;
    z-index: 200;
}

#right-pane {
    display: inline-block;
    position: relative;
    vertical-align: top;
    top: 0;
    left: 20px;
    width: 200px;
    z-index: 100;
}

/*
 * Panels - components within the panes
 */

#search-panel form {
    background-color: #D5E2F2;
    background-image: -moz-linear-gradient(100% 100% 90deg, #D5E2F2, #C8D8F2);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D5E2F2), to(#C8D8F2));    
}

#categories {
    padding: 13px 0;
    text-shadow: #fff 1px 1px 0; 
    background-color: #eee;
}

#categories > * {
    padding: 13px 10px;
    border-right: none;
}

#categories > :first-child {
    border-left: none;
}

#categories > :hover {
    color: #fff;
    cursor: pointer;
    background-color: #666;
    text-shadow: #000 -1px 1px 0;
    -webkit-box-shadow: inset 0 0 10px #333;
}

#categories > .active {
    color: #000;
    background-color: #fff;
    text-shadow: none;
    cursor: default;
    -webkit-box-shadow: none;
}

#search {
    width: 200px;
    font-size: 16px;
}

#criteria {
    display: inline-block;
    width: 180px;
    margin-right: 20px;
}

#criteria > * {
    margin-bottom: 10px;
    cursor: pointer;
}

#criteria > :hover {
    background-color: #eee;
}

#criteria > .active {
    background-color: #FFF89F;
}

#plugin-panel {
    display: none;
    float: right;
    width: 500px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#description {
    clear: both;
    line-height: 18px;
    font-size: 13px;
}

.chart {
    width: 485px;
}

input.invalid {
    border-width:2px;
    border-color:red;
}

.criterion {
    font-size: 12px;
    margin-bottom: 10px;
    color: #333;
}

.criterion a {
    text-decoration: none;
}

.remove-criterion:link, .remove-criterion:visited {
    color: #666;
    font-weight: bold;
    float: right;
}

.remove-criterion:hover, .remove-criterion:active {
    color: #333;
}

.criterion .field-anchor:link, .criterion .field-anchor:visited {
    color: #000;
    float: left;
    background-color: #FFFEE0;
    border: 1px solid #ECE670;
    padding: 4px 5px;
    width: 135px;
    -moz-box-shadow: 2px 2px 1px #eee;
    -webkit-box-shadow: 2px 2px 1px #eee;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.criterion .field-anchor:hover, .criterion .field-anchor:active {
    background-color: #FFFBB3;
}
