*:first-child+html { zoom: 1 }

.clearfix {
    display: inline-block;
}

#ajax-notify {
    height: 28px;
    margin-bottom: 10px;
}

#field-groups {
    height: 250px;
}

.container > .tabs .tab {
    border-left: 1px solid #F2F7FB;
    border-right: 1px solid #F2F7FB;
    border-top: 1px solid #F2F7FB;
    background-color: #E0EBF4;
}

.container > .tabs .tab:hover {
    background-color: #EFF5F8;
}

.container > .tabs .tab.disabled {
    background-color: #D1E2EE;
    border-left-color: #DBE9F4;
    border-right-color: #DBE9F4;
}

.container > .header .tab {
    border-top-color: #F2F7FB;
}

.container > .header .tab.disabled {
    border-top-color: #DBE9F4;
}

.container > .footer .tab {
    border-bottom-color: #F2F7FB;
}

.container > .footer .tab.disabled {
    border-bottom-color: #DBE9F4;
}

.container > .tabs .tab.tab-selected:hover {
    background-color: #fff;
}

.paginator .page-links {
    background-color: #D3E7FB;
}