h4 {
    font-weight: 500;
    margin-bottom: 5px;
}

button {
    font-size: 10px;
    margin-top: 5px;
}

button:first-child {
    margin-top: 0;
}

#overlay {
    display: block;
}

/*
** Base classes and styling for a sortable table elements
*/
.sortable {
    display: none;
    border-collapse: separate;
	font-size: 13px;
	font-family: "Gill Sans", "Trebuchet MS", sans-serif;
	margin: 15px 0;
	border-spacing: 1px 1px;
	background-color: #fff;
}

.sortable tr.selected {
    background-color: #FFFBD8;
}

.sortable td, .sortable th {
    padding: 3px 5px;
    text-align: center;
    font-weight: normal;
    background-color: #fff;
    min-width: 100px;
}

.sortable td:first-child, .sortable th:first-child {
    min-width: 0;
}

.sortable td > *, .sortable th > * {
    padding: 0;
}

.sortable thead > *, .sortable tfoot > * {
    background-color: #efefef;    
}

.sortable thead td, .sortable tfoot td, .sortable thead th, .sortable tfoot th {
	background-color: #FFF9A4;
    border: 1px solid #fff;
	font-size: 13px;
}

.sortable thead tr .header, .sortable tfoot tr .header {
    background-repeat: no-repeat;
    background-position: right center;
    text-align: left;
	cursor: pointer;
    text-shadow: #fff 1px 1px 0;
}

.sortable thead tr .header span, .sortable tfoot tr .header span {
    padding-right: 16px;
}

.sortable tbody tr.odd td {
	background-color: #eee;
}

.sortable thead tr .asc {
    background-image: url(../img/asc.gif);
}

.sortable thead tr .desc {
    background-image: url(../img/desc.gif);
}

.sortable thead tr .desc, .sortable thead tr .asc {
    background-color: #FFEA5F;
}

.container > .info {
    display: none;
}

#report-actions {
    float: right;
}

.container > .info li {
    margin: 3px 0;
}

.container > .toolbar {
    display: none;
}

.container > .toolbar > * {
    vertical-align: middle;
}

.container > .toolbar select {
    font-size: 10px;
}

.container .page-links > * {
    margin-right: 10px;
}

.container .page-links .pages {
    display: inline-block;
}

.container .page-links .inactive {
    color: #999;
}

.container .content {
    overflow: auto;
}

.container .content::-webkit-scrollbar {
    height: 1ex;
}

.container .content::-webkit-scrollbar-thumb:horizontal {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1ex;
}

#columns-dialog {
    display: none; /* for jquery ui dialog */
    height: 600px;
}

#columns-dialog > div {
    float: right;
    border: 1px dotted #aaa;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 580px;
    overflow: auto;
}

#columns-dialog > div::-webkit-scrollbar {
    width: 1ex;
}

#columns-dialog > div::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1ex;
}

#columns-dialog > div:first-child {
    float: left;
}

#columns-dialog h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

#columns-dialog input {
    width: 250px;
}

#columns-dialog ul {
    margin: 0;
    list-style: none;
}

#columns-dialog li {
    display: none;
    margin: 3px 0;
    padding: 5px 8px;
}

#columns-dialog li.active {
    display: block;
}

#columns-dialog li.active.filtered {
    display: none;
}

#columns-dialog p {
    margin: 10px 0;
}

#columns {
    margin-top: 10px;
    overflow: auto;
    text-shadow: #fff 1px 1px 0;
}

#columns li {
    background-color: #eee;
    border: 1px solid #ddd;
}

#active-columns {
    overflow: auto;
    text-shadow: #fff 1px 1px 0;
}

#active-columns li {
    background-color: #fcdb6a;
    border: 1px solid #fcba21;
}

#active-columns li.placeholder {
    display: block;
    background-color: #fff;
    border: 1px dashed #ccc;
    border-radius: 0;
    -moz-border-radius: 0;
}

#columns li p, #active-columns li p {
    margin: 5px 0 0 0;
}

#columns li > * {
    vertical-align: middle;
}

#columns li > .name, #active-columns li > .name {
    display: inline-block;
    width: 335px;
}

#active-columns li > .name {
    width: 315px;
}

.actions {
    display: inline-block;
    font-size: 11px;
    color: #999;
    text-align: right;
}

.actions a {
    color: #999;
    text-decoration: none;
}

.actions > * {
    display: block;
    margin-top: 3px;
    text-align: center;
}

.actions > :first-child {
    margin-top: 0;
}

.actions :hover {
    color: #333;
}

.actions .info {
    cursor: default;
}

.actions .iconic.info {
    font-size: 14px;
}

.description {
    display: none;
}

#active-columns .actions, #active-columns .actions a {
    color: #B17431;
}

#active-columns .actions :hover {
    color: #333;
}

#description {
    padding: 10px;
    z-index: 5000;
    position: absolute;
    display: none;
    background-color: #fff;
    border: 3px solid #aaa;
    width: 300px;
    white-space: pre-line;
    box-shadow: #999 0 5px 10px;
    -webkit-box-shadow: #999 0 5px 10px;
    -moz-box-shadow: #999 0 5px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
