#report .toolbar > * {
    margin-right: 20px;
}

#report .page-links > *, #report .page-links .pages > * {
    margin-right: 10px;
}

#report .page-links .pages {
    background-color: #eee;
    display: inline-block;
    text-align: center;
    width: 200px;
}

#report .page-links .inactive {
    color: #666;
}

#search-dialog {
    display: none; /* for jquery ui dialog */
}

#search-dialog > div {
    border: 1px dotted #aaa;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    width: 306px;
}

#search-dialog > :first-child {
    margin-right: 20px;
}

#search-dialog h3 {
    margin-bottom: 10px;
}

#search-dialog h4 {
    font-weight: bold;
}

#search-dialog input {
    width: 250px;
}

#search-dialog ul {
    margin: 0;
    list-style: none;
}

#search-dialog li {
    display: none;
    margin: 3px 0;
    padding: 5px 8px;
}

#search-dialog li.active {
    display: block;
}

#search-display li.active.filtered {
    display: none;
}

#columns {
    margin-top: 10px;
}

#columns li {
    background-color: #eee;
    border: 1px solid #ddd;
}

#active-columns li {
    background-color: #fcdb6a;
    border: 1px solid #fcba21;
}

#active-columns li.placeholder {
    border: 1px dashed #aaa;
}
