@import "bourbon/bourbon";

body {
    background: #eee url(../img/classy_fabric_light.png);
    text-shadow: 0 1px 1px #fff;
    color: #555;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 12px;
}

p {
    font-size: 14px;
    line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
    color: #7a6612;
    margin: 10px 0;
}

h1, h2 {
    color: #bbb942;
}

h1, h2 {
    font-weight: normal;
    margin: 15px 0 10px 0;
    font-family: "Droid Serif", georgia;
}

h3, h4, h5, h6 {
    font-weight: 400;
}


code, code.prettyprint {
    padding: 1px 2px;
}

a {
    @include transition(all, 0.2s, ease-in-out);
    color: #777;
    border-bottom: 1px dotted #ccc;

    &:hover {
        text-decoration: none;
        color: #b5490b;
        border-bottom: 1px dotted #b5490b;
    }
}

header {
    > * {
        @include inline-block;
        vertical-align: middle;
    }

    h1 {
        font-size: 36px;
        text-shadow: 0 2px 2px #fff;
    }

    h1, h3 {
        padding: 0;
        margin: 0;
    }
}

hr {
    @include box-shadow(0 2px 4px #fff);
}

pre.prettyprint {
    @include box-shadow(2px 2px 3px #ddd);
    border: 1px solid #ccc;
}

.alert {
    padding-right: 14px;
}

#content li {
    margin-bottom: 12px;
}

#content .prettyprint li {
    margin-bottom: 0;
}

table input { margin-bottom: 0; }

table tbody tr > th:first-child { width: 150px }

#content {
    @include box-shadow(-2px 0 2px #dde0e6);
    background-color: hsla(0, 0, 100, 0.7);
    padding: 10px 20px;
    position: fixed;
    left: 240px;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
    text-shadow: 0 1px 0 #fff;
}

span.label {
    text-shadow: none;
}

.prettyprint {
    margin-bottom: 20px;
    background-color: #fff;
}

#sidenav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 220px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;

    .brand {
        @include transition(text-shadow, 0.2s, ease-in-out);
        @include box-shadow(0 1px 2px #aaa);
        @include border-radius(0 0 3px 3px);
        @include inline-block;
        background-color: transparentize(#b5490b, 0.3);
        text-shadow: 0 1px 1px #333;

        color: #fff;
        font-weight: 400;
        font-size: 20px;
        padding: 20px 10px 10px 10px;
        margin-bottom: 20px;
        text-decoration: none;
        border: 1px solid #b5490b;
        border-top: none;

        &:hover {
            text-shadow: 0 1px 1px #333, 0 0 10px #fff;
        }
    }

    li {
        margin-bottom: 5px;
    }

    ul ul li {
        font-size: 12px;
        margin-bottom: 0;
        list-style: circle;
    }

    h3, > ul {
        margin-left: 10px;
    }
}
