{% extends "base.html" %}

{% block title %}{{ block.super }} : Define{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ CLIENT_MEDIA_URL }}css/define.css">
{% endblock %}

{% block scripts %}
    <script>require(['define/main']);</script>
{% endblock %}

{% block content %}

    <div id="left-pane" class="container">
        <div class="title">{% block search_panel_title %}Search Available Conditions{% endblock %}</div>

        <div class="content">
            <div id="tabs">
                {% spaceless %}
                <form method="get" class="tab active" data-search="" action="{% url api:criteria:read %}">
                    <input id="search" class="search" type="input" name="q" results="0"
                        placeholder="Search..." autofocus="true">
                </form>

                {% for category in categories %}
                    <span id="tab-{{ category.name|lower }}" class="tab" data-search="{{ category.name|lower }}">{{ category.name }}</span>
                {% endfor %}
                {% endspaceless %}
            </div>
        
            <div id="center-pane" class="clearfix">
                <div id="criteria">
                    {% for criterion in criteria %}
                        <div data-id="{{ criterion.id }}" data-model="criterion" data-uri="{{ criterion.uri }}">
                            <span class="iconic info"></span>
                            <span class="name">{{ criterion.name }}</span>
                            <span class="description">{{ criterion.description|safe }}</span>
                        </div>
                    {% endfor %}
                </div>

                {# The "option-detail" panel displays information about a particular query option and the means #}
                {# to interact with it.  #}
                <div id="plugin-panel" class="container">

                    {# This toolbar will contain the dynamically generated tabs based on a query option's #}
                    {# initial response from the server. Tabs are context-specific and do not have cross #}
                    {# query option interaction. #}
                    <div id="plugin-tabs" class="toolbar header tabs hidden"></div>

                    <div class="content">                
                        {# Content associated with a particular "view" (one-to-one with a tab). This is considered #}
                        {# dynamic content because it changes within the context of a query option. #}
                        <div id="plugin-dynamic-content"></div>
                
                        {# Content associated with a query option, independent of the tabs and there content. This is #}
                        {# considered static content because it persists during the lifetime of the query option #}
                        {# context. #}
                        <div id="plugin-static-content"></div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="right-pane" class="clearfix">
        {# This panel defines the validated criteria the user has defined for the #}
        {# current query #}
        <div id="user-criteria" data-uri="{% url api:scope:session %}" class="container">

            <div class="title">
                 <button id="remove-criteria" href="#">Clear All</button>
                 Conditions
             </div>

            <div class="content">
                <div id="criteria-list" data-report="{% url report %}"  data-uri="{% url api:criteria:read %}">
                    <span class="iconic plus"></span> <span class="it mg">Conditions are added here..</span>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
