{% extends "base_nav.html" %}

{% block title %}{{ block.super }} : Design{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ CLIENT_MEDIA_URL }}css/design.css">
    <link rel="stylesheet" href="{{ CLIENT_MEDIA_URL }}css/design-ie7fix.css">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>require(['extensions', 'design/main']);</script>
{% endblock %}

{% block navigation %}
    <li>Design Question</li>
{% endblock %}

{% block tools %}
    {# <button id="patient-set" data-for='#patient-set-menu'>Patient Cohorts</button> #}
    {# <button id="scope" data-for='#scope-menu'>Questions</button> #}
{% endblock %}

{% block tool_menus %}
    {# <div id="patient-set-menu"> #}
    {#     <ul> #}
    {#         <li>Patient Set 1</li> #}
    {#         <li>Patient Set 2</li> #}
    {#     </ul> #}
    {# </div> #}
    {#  #}
    {# <div id="scope-menu"> #}
    {#     <form method="get" action="{% url api:scope:read %}"> #}
    {#         <input type="search" results="0" placeholder="Search questions..."> #}
    {#     </form> #}
    {#     <a class="ht" href="#">Save current question</a> #}
    {# </div> #}
{% endblock %}

{% block content %}

    <div id="left-pane" class="container">
        <div class="title">{% block search_panel_title %}{% endblock %}</div>

        <div class="content">
            <div id="search-panel">
                {% spaceless %}
                {# This form is used for searching available query options, it makes an async #}
                {# request and returns the results in the #browse-all element. #}
                <form method="get" class="active" action="{% url api:criteria:read %}">
                    <input id="search" class="search" type="input" name="q" results="0" placeholder="Search..." autofocus="true">
                </form>
                <div id="categories" data-uri="{% url api:categories:read %}"></div>         
                {% endspaceless %}
            </div>
        
            <div id="center-pane" class="clearfix">
                <div id="criteria"></div>
                {# The "option-detail" panel displays information about a particular query option and the means #}
                {# to interact with it.  #}
                <div id="plugin-panel" class="container">

                    {# This toolbar will contain the dynamically generated tabs based on a query option's #}
                    {# initial response from the server. Tabs are context-specific and do not have cross #}
                    {# query option interaction. #}
                    <div id="plugin-tabs" class="toolbar header tabs hidden"></div>

                    <div class="content">                
                        {# Content associated with a particular "view" (one-to-one with a tab). This is considered #}
                        {# dynamic content because it changes within the context of a query option. #}
                        <div id="plugin-dynamic-content"></div>
                
                        {# Content associated with a query option, independent of the tabs and there content. This is #}
                        {# considered static content because it persists during the lifetime of the query option #}
                        {# context. #}
                        <div id="plugin-static-content"></div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="right-pane" class="clearfix">
        {# This panel defines the validated criteria the user has defined for the #}
        {# current query #}
        <div id="user-criteria" class="container">

            <div class="title">
                 <button id="remove-criteria" href="#">Clear All</button>
                 Your Question
             </div>

            <div class="content">
                <div id="criteria-list">
                    <strong>No criteria defined</strong><br>
                    <span class="ht mg">Click on a query option icon and specify some conditions</span>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
