{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="title">{% block login_title %}{% endblock %}</div>
        
        <div class="content clearfix">
            <div class="two-col-left">

            {% for e in form.non_field_errors %}
				<div class="warning">{{ e }}</div>
			{% endfor %}
			
                <form method="post" action="{% block form_url %}{% endblock %}">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <th>{{ form.username.label }}</th>
                            <td><input type="text" name="username" value="" autofocus></td>
                        </tr>
                        <tr>
                            <th>{{ form.password.label }}</th>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>
                    <div class="form-controls">
                        <input type="submit" value="Login" />
                    </div>
                </form>                
            </div>
            
            <div class="two-col-right">
                {% block description %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
