{% extends "base_nav.html" %}

{% block title %}{{ block.super }} : Report{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ CLIENT_MEDIA_URL }}css/report.css">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        var API_URLS = {
            scope: '{% url api:scope:session %}',
            perspective: '{% url api:perspectives:session %}',
            report: '{% url api:reports:session:resolve %}'
        },
        
        URLS = {
            define: '{% url define %}'
        };
        require(['sanitizer', 'extensions', 'report/main']);
    </script>
{% endblock %}

{% block navigation %}
    <li><span class="iconic arrow-left"></span> <a href="{% url define %}">Refine Conditions</a></li>
{% endblock %}

{% block content %}

    <div id="report" class="container">

        <div class="title">Report</div>

        <div id="report-info" class="info clearfix">
            <div class="fr ra">
                <button id="search-button">Data Columns...</button><br>
                <button id="save-set">Save Patient Cohort...</button>
            </div>
            <div class="ib">
                <h4>Details</h4>
                <span id="conditions-text">No conditions were defined for this report.</span>
            </div>
        </div>

        <div class="toolbar header clearfix">
            <span><span class="count"></span> rows / <span class="unique-count"></span> patients</span>
            <span class="fr">
                <span class="page-links"></span>
                <select class="per-page">
                    <option value=""># rows</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </span>
        </div>

        <div class="content">
            <table id="table" class="sortable">
                <thead><tr></tr></thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="toolbar footer clearfix">
            <span><span class="count"></span> rows / <span class="unique-count"></span> patients</span>
            <span class="fr">
                <span class="page-links"></span>
                <select class="per-page">
                    <option value=""># rows</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </span>
        </div>
    </div>

    <div id="search-dialog" class="clearfix">
        <div>
            <h3>Available Columns</h3>

            <p class="ht mg">Below are the columns of data that are available for
            viewing. Note that depending on which columns are added to your report,
            the the <em>number of rows</em> may change, but the <em>number of
            patients</em> will stay constant.</p>

            <form method="get" action="{% url api:columns:read %}">
                <input id="search" class="search" type="input" name="q" placeholder="Search...">
            </form>

            <div id="columns">
                {% for category in columns %} 
                    <div data-model="category" data-id="{{ category.id }}">
                        <h4>{{ category.name }} <a class="ht add-all" href="#{{ category.id }}">Add All</a></h4>
                        <ul>
                            {% for column in category.columns %}

                                <li class="active" data-model="column" data-id="{{ column.id }}">
                                    <span class="name">{{ column.name }}</span>
                                    <span class="actions">
                                        <a class="add-column" href="#{{ column.id }}"><span class="iconic plus"></span> Add</a>
                                        <span class="info"><span class="iconic info"></span> Info</span>
                                    </span>
                                    <span class="description">{{ column.full_description|safe }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div>
            <h3>Your Columns</h3>

            <p class="ht mg">The order below (top-bottom) defines the order they will be
            displayed (left-right). To change the order simply click and drag any of the
            columns to the desired location and release in the visible drop zone.</p>

            <a class="ht st remove-all" href="#">Clear All</a>
            <ul id="active-columns">
                {% for category in columns %} 
                    {% for column in category.columns %}
                        <li data-model="column" data-id="{{ column.id }}">
                            <span class="name">{{ column.name }}</span>
                            <span class="actions">
                                <a class="remove-column" href="#{{ column.id }}"><span class="iconic x"></span> Remove</a>
                            </span>                            
                        </li>
                    {% endfor %}
                {% endfor %} 
            </ul>
        </div>
    </div>

{% endblock %}
