<header>
    <ul>
        {% if user.is_authenticated %}
            <li>{% firstof user.get_full_name user %} &middot;</li>
            {% if user.is_superuser %}
                <li><a href="{% url admin:index %}">Admin</a> &middot;</li>
            {% endif %}
            <li><a id="email-support" href="#">Support</a> &middot;</li>
            <li><a href="{% url logout %}">Logout</a></li>
        {% else %}
            <li><a href="{% url login %}">Login</a></li>
        {% endif %}
    </ul>
</header>