<header>
    <span>
        {% if user.is_authenticated %}
            <span>{% firstof user.get_full_name user %} &middot;</span>
            {% if user.is_superuser %}
                <a href="{% url admin:index %}">Admin</a> &middot;
            {% endif %}
            <a id="support-form" href="{% url support-form %}">Support</a> &middot;
            <a href="{% url logout %}">Logout</a>
        {% else %}
            <a href="{% url login %}">Login</a>
        {% endif %}
    </span>
    {% block logo %}{% endblock %}
</header>
